{% extends 'layout/default.twig' %}

{% block isi %}
	{% if kata_kunci %}
		<div class="alert alert-warning">Hasil pencarian dengan kata kunci <em>{{ kata_kunci }}</em></div>
	{% endif %}
    {% for x in data %}
    	<a href="{{ site_url() }}baca/{{ x.slug }}" class="bukan-link">
	        <div class="panel panel-default">
	        	<div class="panel-heading">{{ x.judul }}</div>
	        	<div class="panel-body">{{ x.isi }}</div>
	        	<div class="panel-footer waktu waktu-{{ x.id }}">Beberapa detik yang lalu</div>
	        </div>
	    </a>
    {% endfor %}
{% endblock %}

{% block head %}
    <style type="text/css">
		.bukan-link,
		.bukan-link:hover,
		.bukan-link:focus,
		.bukan-link:visited,
		.bukan-link:active {
			text-decoration: none;
			color: inherit;
		}
		.waktu:first-letter {
			text-transform: uppercase;
		}
    </style>
{% endblock %}

{% block skrip %}
    <script src="{{ base_url() }}aset/vendor/moment/moment-with-locales.js"></script>
    <script type="text/javascript">
		moment.locale('id')
		{% for x in data %}
			$('.waktu-{{ x.id }}').html(moment('{{ x.waktu }}').fromNow())
			setInterval(function(){
				$('.waktu-{{ x.id }}').html(moment('{{ x.waktu }}').fromNow())
			}, 60000);
		{% endfor %}
	</script>
{% endblock %}