{% extends 'layout/default.twig' %}

{% block judul %}
    {{ data.judul }} -
{% endblock %}

{% block isi %}
    <div class="panel panel-default">
    	<div class="panel-heading">{{ data.judul }}</div>
    	<div class="panel-body">
			<div class="konten">{{ data.isi }}</div>
            {% if status == 'masuk' %}
                <br>
                <a href="{{ site_url() }}baca/{{ data.slug }}/edit" class="btn btn-warning">Edit</a>
                <a href="#!" class="btn btn-danger hapus">Hapus</a>
            {% endif %}
    	</div>
        <div class="panel-footer waktu">Beberapa detik yang lalu</div>
    </div>

    
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = '{{ site_url() }}baca/{{ data.slug }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ data.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://zenheroku.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
                                
{% endblock %}

{% block head %}
    <style>
		.konten {
			white-space: pre-wrap;
		}
        .waktu:first-letter {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block skrip %}
    <script src="{{ base_url() }}aset/vendor/swal/sweetalert2.js"></script>
    <script src="{{ base_url() }}aset/vendor/moment/moment-with-locales.js"></script>
    <script>
        $('.hapus').click(function(x){
            x.preventDefault();
            Swal.fire({
                title: 'Hapus?',
                text: 'Beneran hapus kah ni?',
                type: 'warning',
                showCancelButton: true
            }).then(function(x){
                if (x.value) {
                    location.href = '{{ site_url() }}baca/{{ data.slug }}/hapus'
                }
            })
        });
        moment.locale('id')
        $('.waktu').html(moment('{{ data.waktu }}').fromNow())
        setInterval(function(){
            $('.waktu').html(moment('{{ data.waktu }}').fromNow())
        }, 60000);
    </script>
{% endblock %}