<?xml version="1.0" encoding="{{ encoding }}"?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/">
 
    <channel>
     
    <title>{{ feed_name }}</title>
 
    <link>{{ feed_url }}</link>
    <description>{{ page_description }}</description>
    <dc:language>{{ page_language }}</dc:language>
    <dc:creator>{{ creator_email }}</dc:creator>
 
    <dc:rights>Copyright {{ waktu }}</dc:rights>
    <admin:generatorAgent rdf:resource="http://www.codeigniter.com/" />
 
    
    {% for x in posts %}
        
     
        <item>
 
          <title>{{ x.judul }}</title>
          <link>{{ site_url() }}baca/{{ x.slug }}</link>
          <guid>{{ site_url() }}baca/{{ x.slug }}</guid>
 
            <description><![CDATA[ {{ x.isi }} ]]></description>
            <pubDate>{{ x.waktu }}</pubDate>
        </item>
 
         
    {% endfor %}
     
    </channel>
</rss>