<form action="{{ site_url() }}cari" method="get">
	<div class="form-group">
		<input type="text" class="form-control" required="" name="kata_kunci" placeholder="Cari">
	</div>
</form>

<div class="panel panel-default">
	<div class="panel-heading">Tulisan Lainnya</div>
	<div class="list-group">
		{% for x in lainnya %}
		    <a href="{{ site_url() }}baca/{{ x.slug }}" class="list-group-item">{{ x.judul }}</a>
		{% endfor %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Admin</div>
	<div class="list-group">
		{% if status == 'nggak masuk' %}
			<a href="{{ site_url() }}masuk" class="list-group-item">Login</a>    
		{% else %}
			<a href="{{ site_url() }}tulisan-baru" class="list-group-item">Tulisan Baru</a>
			<a href="{{ site_url() }}backup" class="list-group-item">Backup</a>
			<a href="{{ site_url() }}keluar" class="list-group-item">Logout</a>	
		{% endif %}
	</div>
</div>